<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_erro.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
</head>
<body>
    <div class="error-404">
        <div class="head">
          <div class="logo">
            <img class="vector" src="{{ url_for('static', filename='imagem/component 12.svg') }}" />
          </div>
        </div>
        <div class="rectangle-4138"></div>
        <a href="/"><div class="voltar-ao-in-cio">voltar ao início</div></a>
        <img class="final-error-4040001-1" src="{{ url_for('static', filename='imagem/erro.gif') }}" />
        <div class="ops-n-o-encontramos-essa-p-gina">
          Ops! Não encontramos
          <br />
          <br/>
          <br>
          essa página :(
        </div>
      </div>
</body>
</html>