<div id="modal-colab_per" class="modal-container">
    <div class="modal delete-3">
            <div class="deseja-excluir-esta-proposta">
              <span>
                <span class="deseja-excluir-esta-proposta-span">Pedir para</span>
                <span class="deseja-excluir-esta-proposta-span2">colaborar?</span>
              </span>
            </div>
            <div id="fechar" class="cancelar_2">cancelar</div>
            <a href=""><div class="excluir2">sim</div></a>
            
        </div> 
</div>
